<div class = "container">
	<div class = "row">
		<div class = "span12">

			<h1>About us</h1>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus, consequuntur, facilis quae accusantium unde officiis impedit harum ipsa debitis iusto eaque ea consectetur odio exercitationem voluptas quasi vero cum magnam. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iure, incidunt quo quibusdam cum exercitationem tempore maxime cumque et eius officiis dignissimos fugiat delectus alias. Suscipit illum sunt autem ipsam veniam!Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quibusdam, eius doloremque facere magni laborum optio suscipit praesentium assumenda error labore. Praesentium doloremque ad asperiores nobis quas fugit expedita similique eligendi.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eaque, temporibus facere eum aperiam nostrum non neque repellat modi impedit distinctio saepe ut officiis voluptate eius commodi assumenda pariatur tempore rem?</p>
		</div>
	</div>
</div>