<div class = "container">
	<div class = "row">
		<div class = "span12">
			<h1>FAQs</h1>
			<h3><u>Employers</u></h3>
			<h4>Do I have to be located in Boston/Cambridge to post a job?</h4>
			<p>Unfortunately, at the moment, yes. This service is only for Boston-area college students to take on odd jobs.  In the future we plan to expand, but for the time being managing one city is enough of a challenge.</p>
			<h4>Is there a limit to the number of jobs I can post?</h4>
			<p>Nope.  Post as many jobs as your need completed.  We have plenty of students ready to work.</p>
		

			<h3><u>Students</u></h3>
			<h4>Do I have to be a Boston-area college student to use NAME</h4>
			<p>Unfortunately at the moment, yes.  This service is only for Boston-area college students to take on odd jobs.  In the future we plan to expand, but for the time being managing one city is enough of a challenge.</p>
			
			
		</div>
	</div>
</div>