
<div class = "sky">
	<div class = "container">
		<div class = "row">
			<div class = "span12" id = "home-border">
				<p class = "text-center" id = "home-page-header">Connect with Boston's <b>250,000+</b> students <b>all ready</b> to get to <b>work</b></p>
			</div>
		</div>
		<div class = "row">
			<div class = "span4 offset4">
				<div class = "text-center" id = "home-button"><%= button_to 'Create a free account', new_job_path, :class => 'btn btn-large btn-success btn-block' %></div>
			</div>
		</div>
	</div>


<!-- INFORMATION -->
<div class = "info">
	<div class = "container">
		<div class = "row">
			<div class = "span6">
				<h1>We solve your problems</h1>
				<p>Use our (free) job board to hire local university students to complete short term jobs - anywhere from an hour to a weekend. </p>
			</div>
			<div class = "span6">
				<p>"Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minus, laudantium earum reiciendis odit quos corporis suscipit libero porro facere natus corrupti quo expedita provident assumenda ab inventore placeat voluptatum hic!Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quidem, accusamus, dignissimos, beatae illum aspernatur autem temporibus perferendis nihil quo magni nisi sit non voluptatum debitis maiores fuga optio itaque consequatur.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vel, animi, non magni porro officia esse dolor debitis similique fuga excepturi cupiditate eveniet ullam accusantium cumque voluptas enim aliquid nesciunt libero."</p>
			</div>
		</div>

		<div class = "row">
			<div class = "span6">
				<h1>Why use Our job board?</h1>
				<ol>
					<big><big><li>Run by students</li></big></big>
					<big><big><li>local</li></big></big>
					<big><big><li>easy to work with us, answer your questions</li></big></big>
					<big><big><li>focus only on boston and students so you're assured you are getting quality help</li></big></big>
					<big><big><li>Supporting local business</li></big></big>
				</ol>
			</div>
			<div class = "span4">
				<h1>About Us</h1>
			</div>
		</div>


		<div class = "row footer">
			<div class = "span3">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quis, tenetur, ut, quaerat, quia beatae optio vel recusandae excepturi assumenda iure dignissimos necessitatibus. Minima, iure laborum omnis officiis perspiciatis itaque sunt.</div>
			<div class = "span3">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deleniti, rerum, fuga, unde, ullam quos consectetur voluptatibus commodi quas labore nobis excepturi perferendis quasi consequuntur enim odit nihil dignissimos vitae fugit.</div>
			<div class = "span3">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quaerat, deleniti quas mollitia aspernatur commodi placeat explicabo molestiae veritatis tenetur totam. Soluta, vitae eaque quaerat pariatur nemo suscipit ducimus blanditiis odio.</div>
			<div class = "span3">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ullam, ad, temporibus inventore recusandae ipsam eveniet illo. Dolorum, quibusdam, suscipit provident accusamus officia iusto magni voluptate fugit deleniti autem impedit laborum.</div>
		</div>
	</div>
</div>
</div>



