	

	<div class = "row" id = "login">
		<div class = "container">
			<div class = "span12">
				<div class = "text-right"><%= render "devise_login_form" %></div>		
			</div>
		</div>
	</div>
<div class = "main-content">
	<div class = "container">
		<div class = "row" id = "main-body">
			<div class = "span9" id = "content">
				<h1>Hire Boston-area university students for odd jobs</h1>
				<br>
				<h1>Sub Headline</h1>
				<h3>Simple <small>seamlessly access Boston's student talent</small></h3>
				<h3>Support <small>local college student economy</small></h3>
				<h3>Secure <small>Your contact info will only be provided to students interested in yoru job</small></h3>
				<br>
				<h1>Features/picture</h1>
				<h1>Secondary CTA?</h1>
				<h1>Social Media</h1>

			</div>
			
			<div class = "span3">
				<div class = "text-left"><%= render "devise_registration_form" %>
			    </div>
		    </div>
	    </div>
    </div>
    </div>

