<div class = "row">
	<div class = "span12" id = "home-border">
		<h1 class = "text-center">Catchy name</h1>
		<p class = "text-center" id = "home-page-header">Connecting <b>you</b> with Boston's <b>250,000+</b> students <b>all ready</b> to get to <b>work</b></p>
	</div>
</div>

	<div class = "row" id = "home-page-button-row">
		<div class = "span6">
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illo, ad, temporibus, consequuntur in ex perferendis doloremque necessitatibus tempora quidem animi consequatur odio enim. Voluptatibus, quisquam, dolore adipisci eveniet consequuntur quas!Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nostrum, quae, fugiat in ipsa iure tempore nisi quos hic repellat excepturi eum animi tenetur nobis deserunt eius laudantium nulla adipisci sapiente.</p>
		</div>
		<div class = "span3 8">
			<p>Have a job you need done?</p>
			
			<div class = "text-center"><%= link_to "Post a Job!", new_job_path, :class => 'btn btn-large btn-primary' %></div>
		</div>
	</div>

<!-- INFORMATION -->

<div class = "row">
	<div class = "span6">
		<h1>Why Hire Students?</h1>
		<ol>
			<big><big><li>There are over 250,000 students in Boston</li></big></big>
			<big><big><li>Students are trusted</li></big></big>
			<big><big><li>Students are local</li></big></big>
			<big><big><li>Students can always use some side money</li></big></big>
			<big><big><li>Need to connect students with their community</li></big></big>
			<big><big><li>Lots of student talent, why not use it?</li></big></big>
		</ol>
	</div>
</div>

<div class = "row">
	<div class = "span6">
		<h1>Why use Our job board?</h1>
		<ol>
			<big><big><li>Run by students</li></big></big>
			<big><big><li>local</li></big></big>
			<big><big><li>easy to work with us, answer your questions</li></big></big>
			<big><big><li>focus only on boston and students so you're assured you are getting quality help</li></big></big>
			<big><big><li>Supporting local business</li></big></big>
		</ol>
	</div>
</div>


	<div class = "row footer">
		<div class = "span3">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quis, tenetur, ut, quaerat, quia beatae optio vel recusandae excepturi assumenda iure dignissimos necessitatibus. Minima, iure laborum omnis officiis perspiciatis itaque sunt.</div>
		<div class = "span3">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deleniti, rerum, fuga, unde, ullam quos consectetur voluptatibus commodi quas labore nobis excepturi perferendis quasi consequuntur enim odit nihil dignissimos vitae fugit.</div>
		<div class = "span3">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quaerat, deleniti quas mollitia aspernatur commodi placeat explicabo molestiae veritatis tenetur totam. Soluta, vitae eaque quaerat pariatur nemo suscipit ducimus blanditiis odio.</div>
		<div class = "span3">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ullam, ad, temporibus inventore recusandae ipsam eveniet illo. Dolorum, quibusdam, suscipit provident accusamus officia iusto magni voluptate fugit deleniti autem impedit laborum.</div>
	</div>



