	

	<div class = "row" id = "login">
		<div class = "container">
			<div class = "span12">
				<div class = "text-right"><%= render "devise_login_form" %></div>		
			</div>
		</div>
	</div>
<div class = "main-content">
	<div class = "container">
		<div class = "row" id = "main-body">
			<div class = "span9" id = "content">
				<h1>Hire local university students <br><small>for odd jobs</small> </h1>
				<br>
				<h1>Sub Headline</h1>
				<h3>Benefit</h3>
				<h3>Benefit</h3>
				<h3>Benefit</h3>
				<br>
				<h1>Features/picture</h1>
				<h1>Secondary CTA?</h1>
				<h1>Social Media</h1>

			</div>
			
			<div class = "span3">
				<div class = "text-left"><%= render "devise_registration_form" %>
			    </div>
		    </div>
	    </div>
    </div>
    </div>

