<div class = "row">
	<div class = "span6">
		<p>instructions	Lorem ipsum dolor sit amet, consectetur adipisicing elit. Impedit, dolorem, ipsam, vitae, facere earum culpa quos eligendi laborum voluptatem expedita id veniam perferendis. Molestiae, assumenda placeat laboriosam illo itaque nam.</p>
	</div>
	<div class = "span6">
		<%= render "form" %>
	</div>

	
</div>

