<% @title = "Post A Job" %>
<div class = "container">
	<div class = "row">
		<div class = "span7" id = "instructions">
			<h1>Post a Job!</h1>
			<p>1. Fill out our easy-to-complete form to the right</p>
			<p><b>Category:</b> Your job will be placed under a category making it easier for students to search for jobs they're most qualified for.</p>
			<p><b>Title:</b> Give your job a title.  Titles are short - 1- 4 words. </p>
			<p><b>Description:</b> Give a description of your job.  What do you need completed? List any skills a qualified candidate should have. </p>
			<p><b>Location:</b> Where will the job take place?  Location helps students connect with jobs that closest to their school, making it easier for everyone.</p>
			<p><b>Needed:</b> How many students do you need to complete the job?</p>
			<p><b>Pay:</b> You decide how much you would like to pay. Keep in mind, jobs with higher pay rates typically get more responses.</p>
			<p><b>Pay Type:</b> Will you pay an hourly or fixed rate?</p>
			<p><b>Hours:</b> How many hours will the student(s) be working for?  It is totally cool if this number is just an estimate, that's the point! </p>
			<p><b>How did you hear about us:</b>We like to know how our members heard about us.  This info helps us improve our community of users.</p>
			<!-- <p class = "text-right"><%= image_tag('painter.jpg') %></p> -->

		</div>
		<div class = "span4 text-left">
			<%= render "form" %>
		</div>
		<div class = "span1">
			<!-- empty placeholder -->
		</div>
	</div>
</div>

