/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

.landing-page-picture {background-image: url("boston.jpg"); -webkit-background-size: cover;
    	-moz-background-size: cover;
    		-o-background-size: cover;
    			background-size: cover;
}


.landing-page-first-row, .pick {background-color: #E8E8E8 ;
}






#home-page-header{font-family: europa, 'Helvetica Neue', Helvetica, Helvetica, Arial, sans-serif; 
					font-size: 4em; 
		 				font-weight: 300;
		 					padding-top: 30px;
		 						line-height: 60px; 
		 							color: white;
		 								margin-top: 40px;
}

.home-page-signup {border: 2px black solid;
}

#home-button {margin-top: 30px; 
				margin-bottom: 300px;
}

#login {background-color: #C8C8C8 ;
}

#login-form {margin-top: 20px;
				margin-right: 0px;
}

.main-content {background-color: ##E8E8E8;
}

#main-body {margin-bottom: 200px;	}

#content {margin-top: 75px;}

.table {margin-top: 40px;}

#row2 {margin-top: 20px;}
#row3, #row4, #row5 {margin-top: 60px;}

