/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */


.job_form {border: black;}

#instructions {;border-right: 1px solid black;padding-right:20px;}


#home-page-header{font-family: europa, 'Helvetica Neue', Helvetica, Helvetica, Arial, sans-serif; 
		font-size: 4em; 
		 	font-weight: 300;padding-top: 30px;line-height: 60px; 
}

#home-border {border-bottom: 1px solid grey;}

#home-page-student {border: 1px solid black;
			border-radius: 8px;
				background-color: #A9A9A9;
}

#home-page-employer {border: 1px solid black;
			border-radius: 8px;
				background-color: #A9A9A9;
}

#home-page-button-row {padding-top: 80px;} 	

.btn-large {width: 125px;height: 40px;margin-top:40px;margin-left: 20px;}

